{% extends "base/base.html" %}
{% load static %}
{% block maincontent %}

<div>

  
        <!-- ----------- text  --------------- -->
        <div class="text-header position-absolute main-text row text-uppercase  ">
          <div class="margin-text col">
              <div>
                  <span >ADVENTURES</span> <h1 >tours and ADVANTURES holidays</h1>
              </div>
              <div class="m-4">
                  <p >"let me discribe you dharamshala advantures"</p>
              </div>
              <div class=" margin-text mt-4 book-btn">
                  <button type="button" class="btn text-uppercase "><b> Book Now</b></button> 
              </div>
          </div>
      </div>

      <!-- ----------- carousel ------------ -->
      <div id="carouselExampleFade " class="carousel  slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner ">
            <div class="carousel-item active">
              <img src="../../static/media/images/slider_image2.jpeg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../static/media/images/slider_image10.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../static/media/images/slider_image10.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
      </div>






      {% comment %} Packages {% endcomment %}
        <section class="bojo-container text-uppercase" >   
          <div class="heading m-5">
            <span class="">Our Best Dharamshala Tour Packages</span>
            <h1 >Nature’s Wellness Dharamshala Packages</h1>
          </div>

          <div class="packages-elements box-container details-advantures ">
            {% for package in packages %}
              <div class="card box " >
                  <div class="row  ">
                      <div class="col-md-3 image">
                          <img src="../../static{{ package.cover_image.url }}" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-6 pt-2 ">
                          <div class="card-body">
                              <h3 class="card-title">
                                {{ package.package_name }}
                              </h3>
                              <span class="card-text pt-2"> {{ package.small_description }}</span>
                              <p class="card-text pt-2 ">
                                  <div class="row">
                                      <div class="col">
                                        {{ package.rating_out_of_5 }}/5 Rating
                                      </div>
                                      <div class="col">
                                        {{ package.days }}
                                      </div>
                                      {% comment %} <div class="col">
                                        <a href="#" class="text-danger"><b>Read More</b></a>
                                      </div> {% endcomment %}
                                  </div>
                              </p>
                          </div>
                      </div>
                      <div class="col-md-2 secondary_bg rounded-end pt-2 ">
                          <div class="card-body">
                              <h3 class="card-title pb-2">INCLUSIONS </h3>
                              <div class='tour-inclusions'>
                                <li class="list-group-item">No Booking Fees</li>
                                <li class="list-group-item">No Special Skills Reqires</li>
                                <li class="list-group-item">Budget Option</li>
                                <span  > {{ package.price }}
                                    <small class="text-muted ">Person</small>
                                </span>
                              </div>
                              <div class=" margin-text book-btn">
                                <a href="/booking?package_id={{ package.id }}" class="btn pt-2 pb-2 text-uppercase text-danger"><b>Read More</b></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
        </section>

</div>


{% endblock %}
