
a{
    color: var(--secondary-text);
}
.booking-element{
    margin: 0 9rem;
    line-height: .6rem;
}
.booking-element .card{
    padding: 1rem;
}
.booking-element .card h1{
    font-size: 1.8rem;
    color:var(--black-text) ;
    text-shadow: none;
}
.booking-element .card .rating-starts{
    display: flex;
    align-items: baseline;
}
.booking-element .card i{
    color: goldenrod;
    margin: .2rem;
    font-size: 1.7rem;
}

/* featuress */
.booking-features .services-cards{
    justify-content: space-around;
    
}
.booking-features .services-cards .booking-features-items{
    margin: .7rem;
}
.booking-features .services-cards img{
    height: 3.2rem;
}


/* ------------- tour booking ---------------  */

.about-tour h3{
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}
.about-tour {
    font-size: 1.4rem;
}
.booking-sechedule .booking-calender-main{
    border: 1px solid var(--box-shadow);
    border-radius: var(--border-radius-2);
    height: 70%;
    padding: 2rem;
    background-color: var(--secondary-bg);
}

.booking-sechedule .booking-calender-main h4{
    font-size: 1.7rem;
    margin: 1rem 0;

}
.booking-sechedule .booking-calender-main h5{
    font-size: 1.4rem;
    font-weight: 700;

}
ul {
    list-style: none;
}
li{
    margin-bottom: 1rem;    
}  
ul li:before {
content: '\2714\0020';
font-weight: 500;
}
  
.inner-element {
    padding: 1rem;
    border: 1px solid var(--box-shadow);
    border-radius: var(--border-radius-1);
}
.book-btn button[type=submit]{
    border-radius: var(--border-radius-1) ;
    padding: .2rem 1.4rem;
    font-size: 1.2rem;
    border-color: #fff;
    color: #fff!important;
    background-color: var(--main-text);
}

.booking-box{
    margin-top: 1rem;
}



.add-to-cart{
    justify-content: space-between;
}

.tour-final-amount .amount{
    color: var(--secondary-text);
    display: inline;
    padding: .3rem 2rem;
    font-weight: 600;
    background: var(--box-shadow);

    
}