
section {
  padding: 3rem 9%;
}
.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
}

.gallery .box-container .box img ,video{
  width: 100%;
  border-radius: var(--border-radius-2);
  margin: 1rem 0;
}

.gallery .box-container .box span {
  font-size: 1.3rem;
  color: var(--main-text);
}

.gallery .box-container .box h3 {
  /* margin: 0rem 0; */
  font-size: 1.8rem;
  color: var(--bg-color);
}
