{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/booking.css' %}">
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'css/adventures.css' %}">
  <!-- icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
   <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


    <title>Home</title>
  </head>

  <body>
     <!-- -----------navbar-------------- -->
        <header>
          <div class="bojonavbar" >
              <!-- ------------navbar 1------------ -->
              <nav class="upper-nav d-flex justify-content-between  ">
                  <div class="d-flex ">
                      <a href="#" >Terms and conditions</a>
                      <a href="#">FAQ</a>
                      <a href="#" class="drop-new-items">About us</a>
                      <a href="/contact" class="drop-new-items">Contact</a>
                  </div>
                  <div class="flex justify-content-between">
                      <a href="#">
                          <i class="bi bi-telephone-fill"></i>
                          <span>+91 76651 67316</span>    
                      </a>
                      <a href="#">
                          <i class="bi bi-envelope-fill"></i>
                          <span>Enquire</span>
                      </a>
                  </div>
              </nav>

              <!-- ------------navbar 2 ------------ -->

              <nav class="main-nav d-flex justify-content-between ">
                  <a href='/'class="d-flex ">
                      <i class="bi bi-sunset-fill bojo-logo "></i>
                      <span><h1>BOJO TRAVELS</h1></span>
                  </a>
                  <div class="d-flex justify-content-around menu-list">
                      <a href="/adventures" class="text-uppercase"><b>adventures</b></a>
                      <a href="/gallery" class="text-uppercase"><b>Gallery</b></a>
                      <a href="/booking"  class="text-uppercase">
                          <b>Checkout</b>
                          <i class="bi bi-cart-fill"></i>
                      </a>
                  </div>
                  <div class="toggle-btn">
                      <i class="bi bi-slack"></i>
                  </div>
              </nav>

              <!--  drop down  -->
              <div class="dropdown_menu ">
                  <a href="/adventures" class="text-uppercase"><b>adventures</b></a>
                  <a href="/gallery" class="text-uppercase"><b>Gallery</b></a>
                  <a href="#"  class="text-uppercase">
                      <b>Checkout</b>
                      <i class="bi bi-cart-fill"></i>
                  </a>
                  <a href="#" class="text-uppercase"><b>about us</b></a>
                  <a href="/contact" class="text-uppercase"><b>contact</b></a>
              </div>
          </div>
    </header>

  
   
    {% block maincontent %} {% endblock %}

    <!-- ---------------------------- footor --------------------------- -->
    <section class="footer">

      <div class="box-container">
  
          <div class="box" data-aos="fade-up" data-aos-delay="150">
              <a href="#" class="logo"> <i class="fas fa-paper-plane"></i>Bojo travel </a>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, ad?</p>
              <div class="share">
                  <a href="#" class="fab fa-facebook-f"></a>
                  <a href="#" class="fab fa-twitter"></a>
                  <a href="#" class="fab fa-instagram"></a>
                  <a href="#" class="fab fa-linkedin"></a>
              </div>
          </div>
  
          <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>quick links</h3>
              <a href="/index" class="links"> <i class="fas fa-arrow-right"></i> home </a>
              <a href="/adventures" class="links"> <i class="fas fa-arrow-right"></i> adventures </a>
              <a href="/gallery" class="links"> <i class="fas fa-arrow-right"></i> gallery </a>
              <a href="/gallery" class="links"> <i class="fas fa-arrow-right"></i> about</a>
              <a href="/contact" class="links"> <i class="fas fa-arrow-right"></i> contact </a>
              <a href="/booking" class="links"> <i class="fas fa-arrow-right"></i> more</a>
          </div>
  
          <div class="box" data-aos="fade-up" data-aos-delay="450">
              <h3>contact info</h3>
              <p> <i class="fas fa-map"></i> mumbai, india </p>
              <p> <i class="fas fa-phone"></i> +123-456-7890 </p>
              <p> <i class="fas fa-envelope"></i> shaikhanas@gmail.com </p>
              <p> <i class="fas fa-clock"></i> 7:00am - 10:00pm </p>
          </div>

  
      </div>
  
  </section>
  
    
    <div class="card-footer bgfooter ">
        <div class="text-light fs-6 p-2 container">
          <div class="row">
            <div class="col ps-0 text-muted">
              2023 Copyright. All Rights Reserved by bojotravels.
            </div>
            <div class="col pe-0 text-end">
              <i class="bi bi-whatsapp m-2"></i>
              <i class="bi bi-instagram m-2"></i>
              <i class="bi bi-facebook m-2"></i>
              <i class="bi bi-youtube m-2"></i>
            </div>
          </div>
        </div>
    </div>
    
    <!-- footer ed -->
    {% comment %} <script src=""></script> {% endcomment %}
    
    <!-- ------------------SCRIPTS --------------------- -->
    <script src="../m"></script>

   
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>
